@model Item[]

<h1 class="mb-4 text-center text-success">Изберете някой от нашите уникални антикварни предмети</h1>
@*<img src="https://www.findupet.com/uploads/petgalleryfile/images/420x315/anglijski-koker-shpaniol.jpg" alt="Dog" />*@

<ul class="d-flex justify-content-between mt-3 flex-wrap">
      @for (int i = 0; i < 10; i++)
    {
    @foreach (Item item in Model)
    {

        <li class="card mb-3 p-2" style="width: 18rem;">
            <h4 class="text-center mt-4 ">@item.Name</h4>
            <img src="@item.MainPicUrl" class="card-img-top " alt="item-main-pic">
            <div class="card-body">
                <p class="card-text text-danger">@item.Description</p>
                    <div class="d-flex justify-content-center"><a asp-area="" asp-controller="Items" asp-action="Details" asp-route-itemId="@item.Id" type="button" class="btn btn-warning"><i class="fas fa-info-circle"></i> Детайли</a></div>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <div class="d-flex justify-content-center"><a asp-area="" asp-controller="Items" asp-action="Delete" asp-route-itemId="@item.Id" type="button" class="btn btn-danger"><i class="fas fa-trash-alt "></i> Изтрий</a></div>
                    }
                    
                </div>

        </li>
    }




    }

</ul>
